<!DOCTYPE html>
<html lang="en">
<head lang="ru">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SMYT test task</title>

    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
    {#    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/datepicker3.css" >#}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/index.css" >
    {#    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css" >#}


    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="{{ STATIC_URL }}js/transparency.min.js"></script>
    {% block extend_js %}{% endblock %}
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'index' %}">SMYT test task</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'index' %}">Главная</a></li>
                <li><a href="{% url 'smyt:index' %}">Модели</a></li>
                <li><a href="{% url 'contacts' %}">Контакты</a></li>
            </ul>
        </div>
    </div>
</nav>

{% block contents %}
{#    TODO: Put the contents of the page here!#}
{% endblock %}

</body>
</html>
