{% extends 'base.html' %}

{% block contacts_active %}class="active"{% endblock %}

{% block contents %}
    <div class="jumbotron">
        <div class="container">
            <h1>Курышев Пётр</h1>
            <p><a href="mailto:peter.kurishev@gmail.com">peter.kurishev@gmail.com</a> </p>
            <p><a href="http://vk.com/peterkur">Страница Вконтакте</a></p>
            <p><a href="https://www.facebook.com/peter.kurishev">Страница Facebook</a></p>
            <p><a class="btn btn-primary btn-lg" href="http://spb.hh.ru/resume/4e2e9eb6ff003a187e0039ed1f736563726574" role="button">Перейти к резюме »</a></p>
        </div>
    </div>
{% endblock %}