<form id="add_data" class="form-inline" action="{% url 'smyt:add_record' model_name %}" method="post">

    {% csrf_token %}

    {% for hidden in form.hidden_fields %}
        {{ hidden }}
    {% endfor %}

    {% if non_field.errors %}
        <div class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                &times;
            </button>
            {% for e in non_field.errors %}
                <strong>Error!</strong>
                {{ e }}
            {% endfor %}
        </div>
    {% endif %}

    {% for field in form.visible_fields %}
        <div class="form-group{% if field.errors %} has-error{% endif %}">
            {{ field.label_tag }}
            {{ field }}
            {% for e in field.errors %}
                <span class="control-label">{{ e }}</span>
            {% endfor %}
        </div>
    {% endfor %}

    <input type="submit" value="Добавить" class="btn btn-default" />

</form>

